
.bg-dark{
    border: none;
    border-radius: none;
}

.card-title{
    text-align: center;
    position: relative;
    text-align: center;
    text-decoration: aqua;
}

.col{
    max-width: 100px;
}