section{
    margin-top: 150px;
}

div {
    width: 400px;
    height: 100px;
    margin-left: 350px;   
}


.preto{
    background: black;
}

.vermelho{
    background-color: red;
}

.amarelo{
    background-color: yellow;
}

