.carousel-item {
    height: calc(100vh - 56px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item-1 {
    background-image: url("img/sao-tome-4.jpg");
}

.carousel-item-2 {
    background-image: url("img/sao-tome-2.jpeg");
    background-position: center top;
}

.carousel-item-3{
    background-image: url("img/sao-tome.jpg");
}

.carousel-item-4{
    background-image: url("img/sao-tome-3.jpg");
}