section{
    margin-top: 150px;
}

div {
    width: 400px;
    height: 90px;
    margin-left: 350px;   
}


.linha1{
    background: blue;
    width: 70px;
    height: 100px;
    margin-left: 120px;
}

.linha2{
    background-color:blue;
}

.linha3{
    background: blue;
    width: 70px;
    height: 100px;
    margin-left: 470px;
}

