section{
    margin-top: 90px;
}

div {
    width: 500px;
    height: 30px;
    margin-left: 350px; 

    
}

.col{
    margin-top: 20px;
    margin-left: 485px;
}

.superior{
    width: 8px;
    height: 60px;  
    margin-left: 100px;
}


.quadrado1{
    background: blue;
    width: 180px;
    height: 30px;
    margin-left: -10px;  
    margin-top: 100px;
    z-index: 99;
  
    
}

.quadrado2{
    background: blue;
    width: 180px;
    height: 30px;
    margin-left: -10px;
}

.quadrado3{
    background: white;
    width: 180px;
    height: 30px;
    margin-left: -10px;  
}

.quadrado4{
    background: blue;
    width: 180px;
    height: 30px;
    margin-left: -10px;
}

.quadrado5{
    background: blue;
    width: 180px;
    height: 30px;
    margin-left: -10px;  
}



.linhaa{
    background: blue;
    width: 330px;
    height: 30px;
    margin-left: 420px;
}

.linhab{
    background: white;
    width: 330px;
    height: 30px;
    margin-left: 420px;
}

.linhac{
    background: blue;
    width: 330px;
    height: 30px;
    margin-left: 420px;
}

.linhad{
    background: white;
    width: 330px;
    height: 30px;
    margin-left: 420px;
}

.linhae{
    background: blue;
    width: 330px;
    height: 30px;
    margin-left: 420px;
}

.linha1{
    background: blue;
}

.linha2{
    background:white;
}

.linha3{
    background:blue;
}

.linha4{
    background:white;
}

