body{
    background: cadetblue;
}

.quadrado{
    width: 500px;
    height: 500px;
    background: white;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 300px;
    
}


.redondo {
    border-radius: 50%;
    width: 200px;
    height: 200px;    
    margin-top: 150px;
    margin-left: 150px;
}

.vermelho {
    background-color: red;  
    margin-left: 150px;
    margin-bottom: 100px;
    
}



border: 1px solid #e3e3e3;  