section{
    margin-top: 150px;
}

div {
    
    margin-left: 450px;   
}

.linha1{
    width: 400px;
    height: 80px;
    background-color: red;
}

.linha2{
    width: 400px;
    height: 30px;
    background-color: white;    
}

img{    
    width: 100px;
    height: 100px;
    margin-left: 470px;  
    padding-bottom: 30px;           
}

.linha3{
    width: 400px;
    height: 80px;
    background-color: red;
}

