body {
    /*background-color: red;*/
    background-image: url(https://images7.alphacoders.com/662/662102.png);   
}

.container{
    /*background-color: rgb(255, 255, 255);*/
    background-color: rgba(74, 97, 155, 0.3);
    width: 900px;
    height: 800px;
    margin-top: 50px;
    margin:0 auto;
}

.logo{
  
    height: 150px;
    margin-left: 255px;
    margin-bottom: 150px;
    margin-top: 50px;
}

.flip-box {
    margin-top: initial;
    height: 150px;
   
}

.primeira {
    margin-left: 325px;    
}

.pesquisar {
    margin-top: 80px;
    text-align: center;
}

input{
    display: inline-block;
    line-height: 16px;
    font-family: sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    text-align: center;
    margin-top: 80px;
    background-color: white;
    
}


.especial {
    display: inline-block;
    line-height: 16px;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(253, 253, 253);
    background: rgb(44, 42, 156);    
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 360px;
    height: 30px;
    width: 180px;
    text-align: center;
  
}

.pokemon{
    display: flex;
    margin-right: 350px;
    width: 1000px;
    margin: 0 auto;

}

.pokemon img{
    height: 300px;
    width: 300px;
    /*margin-left: 200px;  */
}

.box{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(33, 33, 36);
    margin-top: 80px;    
    margin-bottom: 20px;     
    background-color: rgba(255, 255, 255, 0.9);
   
}

h3 {
    font-size: 16px;
    margin-top: 10px;    
}

.pokemon-info {
    margin-top: 60px;
    margin-right: 200px;
}