
header {
    background-color:none;
    margin-bottom: 20px;

}

form {
    margin-top: 10px;
    margin-bottom: 20px; 
}

.navbar-brand {
    float: left;
}

article{
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 450px;
}

.nav center p{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 100px;
}