/*BOX*/

.box{
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    background: #d1d0d0;
    text-align: center;
}

.box div{
    width: 120px;
    height: 120px;
    padding: 30px 0;
    margin:0 auto;
    border: 5px solid #ffffff;
    background: #efefef;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

div.servicos {
    padding-top: 50px;
}
