
.servicos {
    padding-top: 100px;      
} 

.servicos .box div {
    height: 200px;
    width: 200px;
    padding: 60px;
 }

.servicos.row div{
    padding: 20px;
    margin-bottom: 30px;
 }

.row h1{
    text-align: center;
    padding: center;
}

.row a{
    padding-top: 20px;
    display: block;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;    
    background: #ddd;
    text-align: center;
   