/*TITULO*/

.about-us {
    margin-top: 50px; 
}

.about-us .row div{
    margin-top: 50px;
}

.about-us img{
    height: 200px;
    width: 200px;
    margin: 10px;
    float: left;
}

.about-us .row:nth-child(2n) img{
    float: right;
}

.about-us p{
    margin-top: 15px; 
       
}

.about-us h1{
    margin-top: 15px;
}