.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #522a52;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #202124;
}

body .logo {
  display: block;
  width: 115px;
  padding-top: 5px;
  float: center;
  color: rgb(210, 220, 224);
}

.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
}

.invisivel {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#202124;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  border-style: none;
  font-size: 1em;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}

.vermelho {
  background-color: rgb(209, 12, 12);
  border-color: rgb(209, 12, 12);
  color: white;
}

.azul {
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: white;
}

.botoes {
  margin-top: 10px;
}

.botoes .btn {
  margin: 0 15px 0 15px;
}

.main-header ul {
  float: center;  
  padding: 15px;
  color: antiquewhite;
  background: white;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px; 
  list-style-type: none;
  text-align: center;
}

.main-header li {
  float: center;
  color: rgb(250, 250, 250);
  position: initial
  ;
}

.clearfix {
  float: inline-start;
}

.main-header ul a {
  color: rgb(1, 11, 20);
}